.menu {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu div {
    transform: translateY(-4px);
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: .5rem;
    transition: all .2s;
}
.menu div:hover {
    transform: translateY(0);
    box-shadow: none;
}

.menu img {
    width: 256px;
}

@media screen and (orientation: portrait) {
    .menu {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        gap: .5rem;
    }

    .menu img {
        width: 30vw;
    }
}