@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --background: #312F44;
  --red: #FF8F8F;
}

.green_theme {
  --background: #3C6255;
}
.blue_theme {
  --background: #0C356A;
}
.draw_theme {
  --background: #003838;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: "Poppins", sans-serif;
}

.reset_button {
  border: 2px solid transparent;
  border-radius: 999px;
  box-sizing: border-box;
  color: var(--background);
  font-size: 32px;
  margin: 1rem;
  padding: .25rem 1rem;
  transition: all .2s;
}

.reset_button:hover {
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 4px white;
}

.home_button {
  position: absolute;
  margin: 1rem;
  background: rgba(255, 255, 255, .1);
  border-radius: .5rem;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .reset_button {
    font-size: 24px;
  }
  .home_button img {
    width: 10vw;
  }
}