@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --background: #312F44;
  --red: #FF8F8F;
}

.green_theme {
  --background: #3C6255;
}
.blue_theme {
  --background: #0C356A;
}
.draw_theme {
  --background: #003838;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: "Poppins", sans-serif;
}