.tictactoe {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.tictactoe h2 {
    font-size: 64px;
    font-weight: 700;
}

.row {
    display: flex;
}

.space {
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-shadow: 0 4px rgba(0, 0, 0, .1);
    display: flex;
    height: 200px;
    justify-content: center;
    margin: .5rem;
    transition: all .2s;
    width: 200px;
}
.cross_space {
    background: rgba(80, 203, 134, .75);
    box-shadow: none;
    transform: translateY(4px);
}

.circle_space {
    background: rgba(76, 116, 201, .75);
    box-shadow: none;
    transform: translateY(4px);
}

.space:hover {
    box-shadow: none;
    transform: translateY(4px);
}

.space:hover {
    cursor: pointer;
}

.tictactoe img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .tictactoe h2 {
        font-size: 48px;
    }

    .space {
        border-radius: .5rem;
        height: 20vw;
        margin: .25rem;
        width: 20vw;
    }

    .reset_game, .reset_score {
        font-size: 16px;
    }
}